body{
    margin: 0 auto;
    background-color: black;
}

.header{
    background-color: rgba(0, 0, 0, 0.664); /* transparencia ligera */
    height: 10vh;
    position: fixed;
    top: 0; /* fijo arriba */
    left: 0;
    right: 0;
    z-index: 9999; /* para que quede encima */
    backdrop-filter: blur(10px); /* efecto desenfoque detrás */
    display: flex;
    align-items: center;
    padding: 0 20px;
    
    
}

.logo{
    background-color: transparent;
    height: 90px;
    width: 90px;
    padding: 10px;
    background-size: contain;
    background-position: center;
    z-index: 9999;
    object-fit: cover;
    
}

.titulo_peliculas{
    background-color: transparent;
    position: relative;
    top: 1px;
    left: 2px;
    text-transform: uppercase;
    font-size: 100px;
    
    
    
}


.caja_peliculas{
    background-color: black;
    height: 22vh;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 0 10px;
    scrollbar-width: none;
    
    
    

}
h2{
    color: antiquewhite;
    padding: 5px;
    font-size: 23px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.5)
    
}

.peliculas,.peliculas_2,.peliculas_3,.peliculas_4,.peliculas_5,.peliculas_6,.peliculas_7,.peliculas_8,.peliculas_9,.peliculas_10,.peliculas_12,.peliculas_13,.peliculas_14,.peliculas_15{
    background-color: aliceblue;
    height: 150px;;
    width: 120px;
    position: relative;
    left: 10px;
    background-size: contain;
    background-position: center;    
    background-repeat: no-repeat;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    
    


}


.peliculas:hover,.peliculas_2:hover,.peliculas_3:hover,.peliculas_4:hover,.peliculas_5:hover,.peliculas_6:hover,.peliculas_7:hover,.peliculas_8:hover,.peliculas_9:hover,.peliculas_10:hover,.peliculas_12:hover,.peliculas_13:hover,.peliculas_14:hover,.peliculas_15:hover{
    scale: 1.02;



}

.caja_peliculas.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.caja_peliculas {
    cursor: grab;
    cursor: -webkit-grab;
}


.principal{
    background-color: transparent;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 151px;
    display: flex;
    background-image: url(./eternals-peliculas-ver-antes.webp);
    background-size: 100% auto; /* ancho completo, altura proporcional */
    background-position: center;    
    background-repeat: no-repeat;

    

}



video{
    width: 100%;
}

.button_1{
    width: 20%;
    max-width: 150px;
    height: 20%;
    border-radius: 50px;
    font-weight: bold;
    background-color: transparent;
    border: 0.5px solid blanchedalmond;
    text-align: center;
    color: aliceblue;
    z-index: 9999;
    position: relative;
    top: 20px;
    right: 20px;
    margin-left: 10px;
    cursor:pointer;
    text-decoration: none;

}

.button_1:hover{
    transform: scale(1.05);
}